/* ---------------------------------- */
/* 3. CARRUSEL */
/* ---------------------------------- */
#carrusel-section {
    text-align: center;
    overflow: hidden;
    padding: 2.5rem 0;
}

#carrusel {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 50rem;
    margin: 1.25rem auto;
    cursor: default;
    min-height: 25rem;
}

#slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
}

.slide {
    min-width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.slide img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    width: auto;
    height: auto;
    border-radius: 0.5rem;
    display: block;

}

.control-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(var(--color-dark-rgb), 0.7);
    color: var(--color-white);
    border: none;
    padding: 0.625rem;
    cursor: pointer;
    font-size: 1.5rem;
    z-index: 5;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.control-btn:hover {
    background: rgba(var(--color-dark-rgb), 0.9);
}

.control-btn.prev {
    left: 0.625rem;
}

.control-btn.next {
    right: 0.625rem;
}

/* ---------------------------------- */
/* 4. MARQUESINA DE MARCAS */
/* ---------------------------------- */
#marquesina-section {
    padding: 1.25rem 5%;
    text-align: center;
    border-top: 1px solid var(--color-medium-gray);
    border-bottom: 1px solid var(--color-medium-gray);
    margin: 2.5rem auto;
}

#marquesina-contenedor {
    background-color: var(--color-white);
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    margin-top: 0.625rem;
    padding: 0.3125rem 0;
}

#marquesina-content {
    display: inline-flex;
    animation: marquee-anim 60s linear infinite;
}

.marquesina-item {
    display: inline-flex;
    align-items: center;
    padding: 0 2.5rem;
    color: var(--color-dark);
    font-weight: bold;
    font-size: 1rem;
    flex-shrink: 0;
}

.marquesina-img {
    height: 12 rem;
    width: auto;
    margin-right: 0.625rem;
    object-fit: contain;
    max-height: 100%;
}

.marquesina-separator {
    opacity: 0.5;
}

@keyframes marquee-anim {
    
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}
